$dark-mode-colors: (
  "background": hsl(207, 26%, 17%),
  "elements": hsl(207, 26%, 17%),
  "text": hsl(0, 0%, 100%),
);
$dark-mode-background-color: hsl(207, 26%, 17%);
$dark-mode-elements-color: hsl(209, 23%, 22%);
$dark-mode-text-color: hsl(0, 0%, 100%);
//dark mode is defualt

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap");

html {
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
}
body {
  margin: 0;
  background-color: $dark-mode-background-color;
  color: $dark-mode-text-color;
  margin-bottom: 50px;
}
h1,
h2,
h3 {
  margin: 0;
  font-size: inherit;
}
button {
  padding: 0;
  border: 0;
  background: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
}

.inner-wrapper {
  padding: 2rem 1rem;
}

.button {
  background-color: $dark-mode-elements-color;
  border-radius: 3px;
  padding: 6px 12px;
}
