.header {
  & .inner-wrapper {
    display: flex;
    justify-content: space-between;
  }
  background-color: map-get($dark-mode-colors, "background");
  color: map-get($dark-mode-colors, "text");
}
.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .moon-icon {
    margin-right: 5px;
  }
}
