.header {
  & .inner-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .logo-text {
    // font-size: 1.5rem;
  }
  .top {
    background-color: $dark-mode-elements-color;
    margin-bottom: 15px;
  }
  background-color: map-get($dark-mode-colors, "background");
  color: map-get($dark-mode-colors, "text");
}
.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .moon-icon {
    margin-right: 5px;
  }
}

.search-controls-container {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 90%;
  margin: auto;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: $dark-mode-elements-color;
  padding: 5px;
  .text-input {
    background-color: inherit;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: inherit;
    flex-grow: 3;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
  }
  .search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0 5px;
    background-color: initial;
    &::placeholder {
      color: white;
    }
    img {
      //search icon
      width: 20px;
    }
  }
}
