.select {
  .select-hidden {
    display: none;
  }
  .select-styled,
  .options {
    //title
    padding: 12px 10px;
    background-color: $dark-mode-elements-color;
  }
  .select-options {
    display: none;
  }
}
