//list item selected animation
@keyframes activeListItem {
  0% {
    background-color: initial;
  }
  100% {
    background-color: inherit;
  }
}

.select-container {
  margin-top: 25px;
  input {
    display: none;
  }
  .select-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 5px;
    .arrow {
      transition: transform .2s linear;
      width: 15px;
    }
  }
  .select-list-container {
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 20px;
    // transition: max-height .3s linear;
    transition-property: max-height, padding;
    transition-duration: .2s;
    transition-timing-function: linear;
    overflow: hidden;
    max-height: 350px;
    .list-item {
      margin-bottom: 8px;
      //list item selected
      label {
        width: 100%;
        display: inline-block;
        cursor: pointer;
      }
      &.active {
        background-color: red;
        color: white;
        // @extend .theme-list-item-active;
        transition: all .3s ease-in;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  //menu closed
  &.closed {
    .select-list-container {
      padding-top: 0;
      padding-bottom: 0;
      max-height: 0;
    }
    .select-title {
      .arrow {
        transform: rotate(-180deg)
      }
    }
  }

  //menu opened
  &.opened {
    
  }
}
