.country-card-page {
  background-color: inherit;
  padding: 0 20px;
}
.back-button {
  @extend .button;
  display: flex;
  justify-content: center;
  flex-basis: initial;
  width: 6rem;
  align-items: center;
  margin: 40px 0;
  // padding: 5px 30px;
  .back-arrow {
    width: 25px;
    margin-right: 8px;
  }
}

.info-spacer-group {
  margin-top: 40px;
}

.border-countries-container {
  margin-top: 40px;
  .border-countries {
    .border-country-item {
      a {
        display: inline-block;
        word-wrap: break-word;
        max-width: 250px;
      }
      margin-right: 0.5rem;
      margin-top: 0.5rem;
    }
  }
}

.border-country-item {
  display: inline-block;
  // padding: 8px 15px;
  a {
  }
  margin-top: 5px;
  // margin-right: 0.7rem;
}
