.country-card-page {
  background-color: inherit;
  // padding: 0 20px 50px 20px;
  padding: 25px 0;
  max-width: 350px;
  // margin: auto;
  .country-info-container {
    padding-left: 0;
  }
  .flag-img-container {
    height: initial;
    overflow: initial;
    max-width: 520px;
  }
}
.back-button {
  @extend .button;
  display: flex;
  justify-content: center;
  flex-basis: initial;
  width: 6rem;
  align-items: center;
  margin: 40px 0;
  // padding: 5px 30px;
  .back-arrow {
    width: 25px;
    margin-right: 8px;
  }
}

.info-spacer-group {
  margin-top: 40px;
}

.border-countries-container {
  margin-top: 40px;
  .border-countries {
    .border-country-item {
      a {
        display: inline-block;
        word-wrap: break-word;
        max-width: 250px;
      }
      margin-right: 0.5rem;
      margin-top: 0.5rem;
    }
  }
}

.border-country-item {
  display: inline-block;
  // padding: 8px 15px;
  a {
  }
  margin-top: 5px;
  // margin-right: 0.7rem;
}


@media(min-width: 640px) {
  .country-card-page {
    .country-info-container {
      display: grid;
      grid-template-areas:
        "name name"
        "info1 info2"
        "border border";
      max-width: 550px;
      .info-spacer-group {
        margin-top: 0;
      }
      .name {
        grid-area: name; 
      }
      .info-group:first-child {
        grid-area: info1;
      }
      .info-group:last-child {
        grid-area: info2;
      }
      .border-countries-container {
        grid-area: border;
      }
    }

  }
}

@media(min-width: 950px) {
  .country-card-page {
    display: grid;
    grid-template-areas: 
      "backButton backButton"
      "flag info";
    position: relative;
    padding-bottom: 150px;
    max-width: 1100px;
    margin: auto;
      
    .back-buttton-container {
      grid-area: backButton;
    }
    .flag-img-container {
      grid-area: flag
  
    }
    .country-info-container {
      grid-area: info;
      padding: 25px;
      align-self: start;
      .border-countries-container {
        position: absolute;
        bottom: 0;
        left: 5%;
      }
      .name {
        margin-top: 0;
        font-size: 1.8rem;
      }
    }
    
  }
}