@import "country-card";
@import "country-card-page";
@import "../mixins/mixins";

.gallary {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet(860px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }
  @include desktop {
    grid-template-columns: 1fr 1fr 1fr;
  }
  //destop large
  @include desktop(1875px) {
    grid-template-columns: repeat(4, 1fr);
    .country-card {
      max-width: 340px;
    }
  }
}
