$mobile_max_width: 375px;
$destop_max_width: 1440px;
$colors: (
  "dark blue": hsl(209, 23%, 22%),
  "Very Dark Blue": hsl(207, 26%, 17%),
  "Dark Gray": hsl(0, 0%, 52%),
  "Very Light Gray": hsl(0, 0%, 98%),
  "white": hsl(0, 0%, 100%),
);
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap");
@function color($color, $map: $colors) {
  $c: map-get($map, $color);
  @return $c;
}

html {
  font-family: "Nunito Sans", sans-serif;
  &.dark {
    background-color: map-get($colors, "Very Dark Blue");
    color: color("white");
    .header {
      background-color: map-get($colors, "dark blue");
    }
  }
}
.header {
  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  padding: 15px;
}
body {
  margin: 0;
}
.app {
  max-width: $destop_max_width;
  margin: auto;
}
button {
  border: 0;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
}
.dark-mode-button {
  //   background-color: map-get($colors, "dark blue");
  padding: 25px;
}
h1 {
  margin: 0;
}
