@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap");
html {
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
}

body {
  margin: 0;
  background-color: #202c37;
  color: white;
  margin-bottom: 50px;
}

h1,
h2,
h3 {
  margin: 0;
  font-size: inherit;
}

button {
  padding: 0;
  border: 0;
  background: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

.inner-wrapper {
  padding: 2rem 1rem;
}

.button, .back-button {
  background-color: #2b3945;
  border-radius: 3px;
  padding: 6px 12px;
}

.content-width-wrapper {
  width: 90%;
  max-width: 1550px;
  margin: auto;
}

.error-message-container p {
  padding-right: 10px;
  padding-left: 10px;
  color: red;
  margin: 0;
}

@media (min-width: 530px) {
  .content-width-wrapper {
    width: 96%;
  }
}

@media (min-width: 840px) {
  .content-width-wrapper {
    width: 90%;
  }
}

body.dark .theme-element {
  background-color: #2b3945;
}

body.dark .theme-list-item-active {
  background-color: red;
}

.header {
  background-color: #202c37;
  color: white;
}

.header .inner-wrapper {
  display: flex;
  justify-content: space-between;
}

.header .top {
  background-color: #2b3945;
  margin-bottom: 15px;
}

.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.theme-toggle .moon-icon {
  margin-right: 5px;
}

.search-controls-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.search-controls-container .search-all-button-container {
  margin-top: 20px;
}

.search-controls-container .search-all-button-container button {
  padding: 15px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #2b3945;
  padding: 5px;
}

.search-container .text-input {
  background-color: inherit;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: inherit;
  flex-grow: 3;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
}

.search-container .search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0 5px;
  background-color: initial;
}

.search-container .search-button::placeholder {
  color: white;
}

.search-container .search-button img {
  width: 20px;
}

@media (min-width: 560px) {
  .logo-text {
    font-size: 1.3rem;
  }
}

.country-card {
  background-color: #2b3945;
  padding-top: 0;
  border-radius: 7px;
  min-width: 250px;
  box-sizing: border-box;
  padding-bottom: 44px;
  box-sizing: border-box;
  height: 450px;
}

.country-card .country-info-container {
  padding-left: 24px;
}

.country-card .country-info-container .info {
  margin-bottom: 8px;
}

.country-card .name {
  font-size: 1.2rem;
  margin-top: 30px;
  margin-bottom: 20px;
}

.country-card .info {
  font-weight: 300;
}

.country-card .flag-img-container {
  height: 220px;
  overflow: hidden;
}

.country-card .flag-img-container img {
  width: 100%;
  object-fit: cover;
}

.country-card-page {
  background-color: inherit;
  padding: 25px;
  max-width: 1200px;
}

.country-card-page .country-info-container {
  padding-left: 0;
}

.country-card-page .flag-img-container {
  height: initial;
  overflow: initial;
  max-width: 520px;
}

.back-button {
  display: flex;
  justify-content: center;
  flex-basis: initial;
  width: 6rem;
  align-items: center;
  margin-bottom: 30px;
}

.back-button .back-arrow {
  width: 25px;
  margin-right: 8px;
}

.info-spacer-group {
  margin-top: 40px;
}

.border-countries-container {
  margin-top: 21px;
  width: 95%;
}

.border-countries-container .border-countries {
  display: flex;
  flex-wrap: wrap;
}

.border-countries-container .border-countries .border-country-item {
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}

.border-countries-container .border-countries .border-country-item a {
  display: inline-block;
}

.border-country-item {
  display: inline-block;
  margin-top: 5px;
}

@media (min-width: 457px) {
  .country-card-page .country-info-container {
    display: grid;
    grid-template-areas: "name name" "info1 info2" "border border";
    max-width: 550px;
  }
  .country-card-page .country-info-container .info-spacer-group {
    margin-top: 0;
  }
  .country-card-page .country-info-container .name {
    grid-area: name;
  }
  .country-card-page .country-info-container .info-group:first-child {
    grid-area: info1;
    margin-right: 25px;
  }
  .country-card-page .country-info-container .info-group1 {
    margin-right: 40px;
  }
  .country-card-page .country-info-container .info-group:last-child {
    grid-area: info2;
  }
  .country-card-page .country-info-container .border-countries-container {
    grid-area: border;
  }
}

@media (min-width: 950px) {
  .country-card-page {
    display: grid;
    grid-template-areas: "backButton backButton" "flag info" "border border";
    position: relative;
    padding-bottom: 150px;
    max-width: 1100px;
    margin: auto;
  }
  .country-card-page .back-buttton-container {
    grid-area: backButton;
  }
  .country-card-page .flag-img-container {
    grid-area: flag;
  }
  .country-card-page .border-countries-container {
    grid-area: border;
  }
  .country-card-page .country-info-container {
    grid-area: info;
    padding: 25px;
    align-self: start;
  }
  .country-card-page .country-info-container .name {
    margin-top: 0;
    font-size: 1.8rem;
  }
}

.gallary {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 15px;
}

@media (min-width: 530px) {
  .gallary {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 930px) {
  .gallary {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1500px) {
  .gallary {
    grid-template-columns: repeat(4, 1fr);
  }
}

.light {
  color: black;
}

.light .theme-element {
  background-color: white;
  color: black;
  box-shadow: 1px 6px 16px 2px #e3e4eb;
}

.light .theme-background {
  background-color: #fafafa;
}

.light.theme-background {
  background-color: #fafafa;
}

.light .theme-list-item-active {
  background-color: lightblue;
}

@keyframes activeListItem {
  0% {
    background-color: initial;
  }
  100% {
    background-color: inherit;
  }
}

.select-container {
  margin-top: 25px;
  max-width: 400px;
  min-width: 250px;
}

.select-container input {
  display: none;
}

.select-container .select-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.select-container .select-title .arrow {
  transition: transform .2s linear;
  width: 15px;
}

.select-container .select-list-container {
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 20px;
  transition-property: max-height, padding;
  transition-duration: .2s;
  transition-timing-function: linear;
  overflow: hidden;
  max-height: 350px;
}

.select-container .select-list-container .list-item {
  margin-bottom: 8px;
}

.select-container .select-list-container .list-item label {
  width: 100%;
  display: inline-block;
  cursor: pointer;
}

.select-container .select-list-container .list-item.active {
  background-color: red;
  color: white;
  transition: all .3s ease-in;
}

.select-container .select-list-container .list-item:last-child {
  margin-bottom: 0;
}

.select-container.closed .select-list-container {
  padding-top: 0;
  padding-bottom: 0;
  max-height: 0;
}

.select-container.closed .select-title .arrow {
  transform: rotate(-180deg);
}

@media (min-width: 362px) {
  .search-container .text-input {
    flex: initial;
    min-width: 240px;
  }
  .search-container button {
    flex-grow: initial;
    margin-right: 10px;
  }
}

@media (min-width: 750px) {
  .search-controls-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "input ." ". button";
    position: relative;
  }
  .search-controls-container .search-container {
    grid-area: input;
    max-width: 600px;
  }
  .search-controls-container .search-container .text-input {
    width: 100%;
  }
  .search-controls-container .select-container {
    position: absolute;
    top: 20px;
    right: 0;
    box-sizing: border-box;
    grid-area: select;
    margin-top: 0;
  }
  .search-controls-container .search-all-button-container {
    grid-area: button;
    display: flex;
    justify-content: flex-end;
  }
}
/*# sourceMappingURL=main.css.map */